fns-zdp/src/test/resources/IDBankCustomers/idbank_customers_1_2_3_4_5_6_7_8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (UNKNOWN_BRANCH-false; 2019-11-12T03:07:59+0300) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown.--><!--edited with XMLSpy v2013 (http://www.altova.com) by  ()--><xs:schema targetNamespace="http://www.id-sys.ru/schemas/idbank/ThirdPartyOrderService/2015/0.01/" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://www.id-sys.ru/schemas/idbank/ThirdPartyOrderService/2015/0.01/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:id="http://www.id-sys.ru/schemas/idbank/common/2012/0.01/" xmlns:cust="http://www.id-sys.ru/schemas/idbank/customer/2015/0.01/">
  <xs:import namespace="http://www.id-sys.ru/schemas/idbank/common/2012/0.01/" schemaLocation="idbank_customers_1.xsd"/>
  <xs:import namespace="http://www.id-sys.ru/schemas/idbank/customer/2015/0.01/" schemaLocation="idbank_customers_1_2_3_4_5.xsd"/>
  <xs:complexType name="LimitStats">
    <xs:sequence>
      <xs:element name="day" minOccurs="0"/>
      <xs:element name="month" minOccurs="0"/>
      <xs:element name="total" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GosLimit">
    <xs:annotation>
      <xs:documentation>Запрос лимитов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="litmit" type="LimitStats"/>
      <xs:element name="stat" type="LimitStats"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GosServ">
    <xs:annotation>
      <xs:documentation>Запрос госуслуги</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Customer" type="cust:Customer">
        <xs:annotation>
          <xs:documentation>Сведения о пользователе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContactInfo" type="id:ContactInfo">
        <xs:annotation>
          <xs:documentation>Контактная информация</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceFormCode" type="xs:string"/>
      <xs:element name="serviceCode" type="xs:string"/>
      <xs:element name="draft" type="Draft" minOccurs="0"/>
      <xs:element name="binaryContent" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Draft">
    <xs:annotation>
      <xs:documentation>Заявка</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="version" type="xs:long"/>
      <xs:element name="fields" type="ListFields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DraftField">
    <xs:sequence>
      <xs:element name="code" type="xs:string"/>
      <xs:element name="content" type="ListContent"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListContent">
    <xs:sequence>
      <xs:element name="content" type="Content" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Content">
    <xs:sequence>
      <xs:element name="value" type="xs:string"/>
      <xs:element name="orderNumber" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListFields">
    <xs:sequence>
      <xs:element name="draftField" type="DraftField" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>