fns-zdp/src/test/resources/IDBankCustomers/idbank_customers_1_2_3_4_5_6_7_8_9_10_11_12_13_14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (UNKNOWN_BRANCH-false; 2019-11-12T03:07:59+0300) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown.--><!--Центральный Банк Российской Федерации.
Унифицированные форматы электронных банковских сообщений. 

Схемы с описанием ЭЦП (КА), ЗК.

май 2005 г.--><!--e-mail:  support.cbr.xml@quorus.ru--><xs:schema targetNamespace="urn:cbr-ru:dsig:v1.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1.0" xmlns:sig="urn:cbr-ru:dsig:v1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="SigIdType">
    <xs:annotation>
      <xs:documentation>Код. Цифровой, 2 значный</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SigValue" type="sig:SigValueType">
    <xs:annotation>
      <xs:documentation>Значение ЗК</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SigValueType">
    <xs:annotation>
      <xs:documentation>Бинарные данные. Значение ЗК</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="SigId" type="sig:SigIdType">
          <xs:annotation>
            <xs:documentation>Тип (назначение) ЗК</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="MACValue" type="sig:MACValueType">
    <xs:annotation>
      <xs:documentation>Значение ЭЦП (КА)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="MACValueType">
    <xs:annotation>
      <xs:documentation>Бинарные данные. Значение ЭЦП (КА)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:base64Binary"/>
  </xs:simpleType>
</xs:schema>