fns-zdp/src/test/resources/IDBankCustomers/idbank_customers_1_2_3_4_5_6_7_8_9_10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (UNKNOWN_BRANCH-false; 2019-11-12T03:07:59+0300) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown.--><!--Центральный Банк Российской Федерации.
Унифицированные форматы электронных банковских сообщений.

ППС

Схемы с описанием прикладных частей электронных сообщений, используемых в расчетной сети Банка России.--><xs:schema targetNamespace="urn:cbr-ru:ed:v2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2019.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ed="urn:cbr-ru:ed:v2.0" xmlns:lt="urn:cbr-ru:ed:leaftypes:v2.0">
  <xs:include schemaLocation="idbank_customers_1_2_3_4_5_6_7_8_9_10_11_12_13.xsd"/>
  <xs:import namespace="urn:cbr-ru:ed:leaftypes:v2.0" schemaLocation="idbank_customers_1_2_3_4_5_6_7_8_9_10_11.xsd"/>
  <xs:annotation>
    <xs:documentation>Прикладные части ЭС</xs:documentation>
  </xs:annotation>
  <xs:element name="ED101" type="ed:ED101"/>
  <xs:complexType name="ED101">
    <xs:annotation>
      <xs:documentation>Платежное поручение</xs:documentation>
      <xs:documentation>Customer Credit Transfer</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ed:EPDComplete">
        <xs:sequence>
          <xs:element name="ParticipantBusinessScenario" type="lt:ParticipantBusinessScenarioType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор бизнес-сценария, определяемый участником.</xs:documentation>
              <xs:documentation>Participant-defined Business Scenario.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SettlementCondition" type="ed:SettlementCondition" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Реквизиты условия исполнения распоряжения.</xs:documentation>
              <xs:documentation>Payment Settlement Condition Attributes.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Purpose" type="lt:Max210TextType">
            <xs:annotation>
              <xs:documentation>Назначение платежа (поле 24).</xs:documentation>
              <xs:documentation>Payment Purpose (Field 24).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DepartmentalInfo" type="ed:DepartmentalInfo" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Ведомственная информация (поля 101, 104-110).</xs:documentation>
              <xs:documentation>Authorities Information (fields 101, 104-110).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InitialED" type="ed:EDRefID" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификаторы исходного ЭПС (поля 203-205).</xs:documentation>
              <xs:documentation>Initial FTI Identifiers (fields 203-205).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProcessingDetails" type="ed:ProcessingDetails" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор бизнес-сценария, определяемый системой.</xs:documentation>
              <xs:documentation>System-defined Business Scenario Identifier.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="TransKind" type="lt:TwoDigitCodeType" use="required" fixed="01">
          <xs:annotation>
            <xs:documentation>Вид операции (поле 18).</xs:documentation>
            <xs:documentation>FTI Type (Field 18).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Priority" type="lt:PaytPriorityCodeType" use="required">
          <xs:annotation>
            <xs:documentation>Очередность платежа (поле 21).</xs:documentation>
            <xs:documentation>FTI Sequence (Field 21).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ReceiptDate" type="lt:DateType">
          <xs:annotation>
            <xs:documentation>Поступило в банк плательщика (поле 62).</xs:documentation>
            <xs:documentation>FTI's Acceptance Date to Payer's Bank (Field 62).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FileDate" type="lt:DateType">
          <xs:annotation>
            <xs:documentation>Дата помещения в картотеку (поле 63).</xs:documentation>
            <xs:documentation>FTI's Queueing Date into the queue of FTI's not settled in time (Field 63).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ChargeOffDate" type="lt:DateType">
          <xs:annotation>
            <xs:documentation>Списано со счета плательщика (поле 71). Дата списания денежных средств со счета плательщика.</xs:documentation>
            <xs:documentation>Payer's Account Debit Date (Field 71).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SystemCode" type="lt:SystemCodeType" use="required">
          <xs:annotation>
            <xs:documentation>Признак системы обработки.</xs:documentation>
            <xs:documentation>Fund transfer service (urgent/non-urgent).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="PaymentID" type="lt:PaymentIDType">
          <xs:annotation>
            <xs:documentation>Уникальный идентификатор платежа, присвоенный получателем средств (поле 22)</xs:documentation>
            <xs:documentation>Unique Payment Identifier assigned by the (ultimate) creditor (Field 22) OR Unique credit ID</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ResField" type="lt:Max35TextType">
          <xs:annotation>
            <xs:documentation>Резервное поле (поле 23).</xs:documentation>
            <xs:documentation>Reserval Field (Field 23).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>